.horizontal-card {
  position: absolute;
  top: calc(160px / 2 * -1);
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  background-color: #ffffff;
  display: flex;
  gap: 1rem;
  padding: 1.7rem;
  border-radius: var(--borderRadius);
  z-index: 1000;
}
.horizontal-card--hidden {
  display: none;
}
@media screen and (max-width: 768px) {
  .horizontal-card {
    width: 86%;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    top: calc(300px / 2.3 * -1);
  }
}
@media screen and (max-height: 750px) {
  .horizontal-card {
    top: -80px;
  }
}
