.ip-search {
  display: flex;
  justify-content: center;
}
.ip-search__field {
  height: 3.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  width: 600px;
  border-radius: 15px;
  padding-left: 1.5rem;
  font-size: 1rem;
}
.ip-search__field--hidden {
  display: none;
}
.button-submit {
  width: 3.4rem;
  background-image: url("../../img/icon-arrow.svg");
  background-color: var(--veryDarkGray);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
  margin-left: -1.5rem;
  cursor: pointer;
}
.button-submit:hover {
  background-color: #505050;
}
@media screen and (max-width: 765px) {
  .ip-search {
    margin-left: auto;
    margin-right: auto;
    width: 86%;
  }
  .ip-search__field::placeholder {
    font-size: 0.7rem;
  }
}
